# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
venv2/
backend/venv/
backend/venv2/
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
*.env.local

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# YOLO / AI models
*.pt
*.onnx

# Logs
*.log
logs/

# Uploads
backend/uploads/

yolov8n.pt
yolov8n.onnx
backend/camera/yolov8n.onnx
backend/yolov8n.pt
