# Database
DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/cso_idss

# Security
SECRET_KEY=change_this_to_a_very_long_random_string_in_production

# App
DEBUG=True
HOST=127.0.0.1
PORT=8000

# YOLO / AI
MAX_LIVE_VENUES=5
CONFIDENCE_THRESHOLD=0.35